@import url(variables.css);

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../storage/img/galaxy_background.gif');
    background-size: cover;
    background-repeat: repeat; 
    background-position: center; 
}
main{

}
.allinfo__content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    /* background: yellow; */
    margin-top: 5vw;
    place-items: center;
    height: 70vh;
}
.allinfo__content article:nth-child(4n-1){
    /* background: green; */
    grid-column: 1 / span 2; 
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}
.info__historys{
    display: flex;
    justify-content: center;
    /* background: red; */
}
.info__member{
    display: flex;
    justify-content: center;
}
.container__info{
    display: flex;
    color: var(--color-3);
    width: 40vw;
    /* background: red; */
}
.container__info_core{
    display: flex;
    color: var(--color-3);
    width: 40vw;
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
    padding: 1vw;
    border-radius: 2vw;
}
.content__info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3vw;
    margin-right: 4vw;
}
.content__info_core{
    overflow-y: scroll;
    width: 40vw;
    height: 30vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
    margin-right: 4vw;
}
.content__info_core h1{
    font-size: 2vw;
}

.image__info img{
    width: 12vw;
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
}
.description__info{
    width: 40vw;
    height: 20vh;
    overflow-y: scroll;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.description__info h5{
    font-size: 2vw;
}
.description__info p{
    font-size: 1vw;
}
.trapezoid-container {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 40vw;
    margin: 0 auto;
    clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
    padding: 0px 20px 0px 20px;
    background-color: var(--color-2);
}
.trapexoid-scroll{
    display: flex;
    overflow-x: scroll;
    width: 26vw;
    height: 11vh;
    /* background: red; */
}
.hexagon {
    position: relative;
    width: 100vw;
    height: 7vh;
    margin-right: 10px;
}
.hexagon-inner {
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
    text-align: center;
    padding: 10px 10px 0px 10px;
    transition: background 0.3s;
}
.hexagon-inner:hover {
    background: #e0e0e0;
}
.hexagon-inner img {
    width: 1.8vw;
    margin-bottom: 5px;
    filter: invert();
}
.hexagon-inner span {
    color: var(--color-3);
    font-size: 1vw;
}
.article__crew, .article__launches{
    display: flex;
    flex-direction: column;
    /* background: green; */
    width: 5vw;
    height: 5vw;
    align-items: center;
    justify-content: center;
}
.article__crew img, .article__launches img{
    width: 2vw;
    filter: invert();
    /* background: red; */
}
.article__crew p, .article__launches p{
    color: var(--color-3);
    font-size: 1.2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background: red; */
}
.pagination-container {
    position: absolute;
    bottom: 20px;
    left: 85vw;
    transform: translateX(-50%);
    overflow-x: auto;
    white-space: nowrap;
    margin-top: auto;
    height: 10vh;
    display: flex;
    align-items: center;
    width: 15vw;
    font-size: 1vw;
}
.pagination {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
}
.pagination:hover {
    background-color: #007bff;
    color: white;
}