@import url(variables.css);

body{
    background: var(--color-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{

}
.allinfo__content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    /* background: yellow; */
    margin-top: 5vw;
}
.allinfo__content article:nth-child(4n-1){
    /* background: green; */
    grid-column: 1 / span 2; 
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}
.info__member{
    display: flex;
    justify-content: center;
}
.container__info{
    display: flex;
    color: var(--color-3);
    /* background: red; */
}
.content__info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3vw;
    margin-right: 4vw;
    
}
.image__info img{
    width: 12vw;
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
}
footer{
    background: var(--color-2);
    clip-path: polygon(10% 60%, 90% 60%, 100% 100%, 0% 100%);
    padding-left: 7vw;
    padding-top: 3vw;
    width: 60vw;
    align-self: center;
    /* background: red; */
}
.footer__menu {
    display: flex;
    width: 53vw;
    height: 10vw;
    /* background: yellow; */
    align-items: end;
}
.article__crew, .article__launches{
    display: flex;
    flex-direction: column;
    /* background: green; */
    width: 5vw;
    height: 5vw;
    align-items: center;
    justify-content: center;
}
.article__crew img, .article__launches img{
    width: 2vw;
    filter: invert();
    /* background: red; */
}
.article__crew p, .article__launches p{
    color: var(--color-3);
    font-size: 1.2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background: red; */
}