@import url(variables.css);

body{
    background: var(--color-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
main{

}
.allinfo__content {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    /* background: yellow; */
    margin-top: 5%;
}
.image__info img{
    width: 160px;
}
.allinfo__content article:nth-child(4n-1){
    /* background: green; */
    grid-column: 1 / span 2; 
    display: flex;
    justify-content: center;
}
.info__member{
    display: flex;
    justify-content: center;
}
.container__info{
    display: flex;
    color: var(--color-3);
    /* background: red; */
}
footer{
    background: var(--color-2);
    clip-path: polygon(10% 25%, 90% 25%, 100% 100%, 0% 100%);
    padding-left: 7%;
    padding-top: 3%;
    width: 60%;
    align-self: center;
}
.footer__menu {
    display: flex;
    width: 87%;
    /* background: yellow; */
}
.article__crew, .article__launches{
    display: flex;
    flex-direction: column;
    /* background: green; */
    width: 60px;
    align-items: center;
    padding: 5px;
}
.article__crew img, .article__launches img{
    width: 100%;
    filter: invert();
    /* background: red; */
}
.article__crew p, .article__launches p{
    margin-top: 0px;
    color: var(--color-3);
}