@import url(variables.css);

body{
    background: var(--color-1);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100vh;
}
main{
    background: yellow;
}
.name__value {
    background: red;
    height: 8vh;
}
.info__value {
    background: brown;
    display: flex;
    justify-content: space-between;
    height: 70vh;
    margin-top: 2vw;
}
.rigth__container {
    background: gray;
    width: 15vw;
}
.center__container {
    background: orange;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content__graphics {
    background: green;
    height: 20vh;
}
.content__image {
    display: flex;
    background: white;
    height: 30vh;
    width: 20vw;
    overflow-x: scroll;
    align-self: center;
    border-radius: 5%;
}
.content__image img{
    width: 20vw;
    margin-right: 1vw;
}
.content__scroll {
    /* background: pink; */
    display: flex;
    justify-content: space-between;
    height: 20vh;
    width: 100vw;
}
.scroll__rigth{
    background: blue;
    width: 20vw;
    overflow-y: scroll;
}
.scroll__left{
    background: blue;
    width: 20vw;
    overflow-y: scroll;
    text-align: justify;
}
.left__container {
    background: gray;
    width: 15vw;
}

footer{
    background: var(--color-2);
    clip-path: polygon(10% 40%, 90% 40%, 100% 100%, 0% 100%);
    padding-left: 7vw;
    padding-top: 3vw;
    width: 60vw;
    height: 8vh;
    align-self: center;
    /* background: red; */
}
.footer__menu {
    display: flex;
    width: 53vw;
    height: 10vw;
    /* background: yellow; */
    align-items: end;
}
.article__crew, .article__launches{
    display: flex;
    flex-direction: column;
    /* background: green; */
    width: 5vw;
    height: 5vw;
    align-items: center;
    justify-content: center;
}
.article__crew img, .article__launches img{
    width: 2vw;
    filter: invert();
    /* background: red; */
}
.article__crew p, .article__launches p{
    color: var(--color-3);
    font-size: 1.2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background: red; */
}